<style>











footer{
background-color: rgb(33, 37, 41);
text-align: center;
padding: 20px;
margin-top: 82.5px;



}

.btns{

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

footer a{
text-decoration: none;
color: white;
margin-left: 10px;
height: 30px;
}
a:hover{
text-decoration: none;
}

.btnFB{
color: white;
background-color: rgb(59,89,152);
border-radius: 100%;
width: 30px;
height: 30px;
font-weight: bolder;
line-height: 30px;
box-shadow: 1px solid black;


}

.btnTT{
color: white;
background-color: rgb(0, 172, 237);
border-radius: 100%;
width: 30px;
height: 30px;
font-weight: bolder;
line-height: 30px;
}

footer p{
    margin-top: 15px;
    color: #aaaaaa;
}

</style>

<footer>
        <div class="btns">
            <a href="https://facebook.com" class="abtnFB"><div class="btnFB" >f</div></a>
            <a href="https://twitter.com" class="abtnTT"><div class="btnTT">t</div></a><br>
        </div>
        <p>Copyright 2017</p>
<footer>
