<% include ./nav.ejs %>
<style>
body{
    margin: 0 auto;
    padding: 0px;
}
.container-fluid, .row{
    margin:0px;
    padding:0px;
}
/*------------  ------------*/



.btnDiv{

    text-align: center;
    margin-top: -120px;
    padding-bottom: 20px;
    z-index: 9999;
}

.carousel-fade .carousel-item {
  display: block;
  position: relative;
  opacity: 0;
  transition: opacity .75s ease-in-out;
  z-index: -1;
}

.row {
    width: 100%;
}

.carousel-caption{
    padding-bottom: 100px;
}
.carousel-fade .carousel-item.active {
  opacity: 1;
  display: block;
  padding: 0;

}

.carousel {
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
  float: none;
  width: 100%;
}

.carousel-inner{
  height: 864px;
}
.carousel-item {
  opacity .5;
}

a.carousel-control-prev, a.carousel-control-next{
    height: 100px;
    top: 40%;
}




</style>

<body>
    <div class="container-fluid">
        <div class="row">

		<div id="carousel" class="carousel carousel-fade" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100" src="https://i.pinimg.com/originals/fc/40/a5/fc40a5c3e297f14ac5b835212849f085.jpg" alt="First slide" />
                    <div class="carousel-caption d-none d-md-block">
                        <h5>League of Legends</h5>
                        <p>Monte seu  time do League of Legends!</p>

                    </div>

				</div> <!-- close carousel-item 1 -->
                <div class="btnDiv"><button class="btn btn-primary mybtn" id="btnMontar" data-toggle="modal" data-target="#modalJogos" role="button">Montar</button></div>

				<div class="carousel-item " style="position: absolute; top:0px; width: 100% ; height: 100%">
					<img class="d-block w-100" src="https://steamuserimages-a.akamaihd.net/ugc/705110818734510532/04A7F450ABC6706DBA96A0FBCE81CC6ED950DBCE/?interpolation=lanczos-none&output-format=jpeg&output-quality=95&fit=inside%7C1024%3A576&composite-to=*,*%7C1024%3A576&background-color=black" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block customCaption">
                        <h5>Counter-Strike GO</h5>
                        <p>Monte seu  time do Counter-Strike!</p>

                    </div>
                </div> <!-- close carousel-item 2 -->


                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
		</div> <!-- close carousel -->
        </div>
    </div>
</div>
        <div class="container">
            <hr style="width:10px; height: 50px;"></hr>
            <h5 class="tJogos">Tutorial</h5>
            <div class="row">
              <div class="col-sm-6 jogos">

                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary mybtn">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary mybtn">Go somewhere</a>
                      </div>
                    </div>
                  </div>
                </div>

            <div class="conteudo">
                <h5>Sobre</h5>
                <div  id="sobre" style="margin: 0 auto; float: none;">
                    <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>



                <div id="contato"  >
                    <h5>Contato</h5>
                    <div id="contato2" style="margin: 0 auto; float: none;">
                        <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
        <hr>
        <!-- FORM -->
        <div id="cadastro" class="formCadastro">
            <h5>Cadastro</h5>
            <form>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputUser"  class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <input type="name" class="form-control" id="inputUser" placeholder="Usuário">
                </div>
            </div>

              <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Senha">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword2" placeholder="Confirme a senha">
                </div>
              </div>
              <button type="submit" id="btnCriar" class="btn btn-primary mybtn">Criar</button>

        </form>
        </div>
    </div>

</div>

<!-- Modal - modalJogos -->
    <div class="modal fade" id="modalJogos" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Escolha o jogo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="side1">
              <a href="#" style="text-decoration: none; "><img src="https://yt3.ggpht.com/a-/AK162_4ThmNADCcc0HLGy2e69pABpQvxo5qcoOpRrA=s900-mo-c-c0xffffffff-rj-k-no" width="100" height="100" /></a>
              <button href="#" class="btn btn-primary mybtn">LOL</button>
          </div>
          <div class="side2"><a href="#">
               <img src="https://victorimrothwordpresscom.files.wordpress.com/2016/04/cs_go_icon_by_rustycharles-d4t7rd5.png?w=300" width="100" height="100" />
           </a><button class="btn btn-primary mybtn">CS</button>
          </div>
      </div>
      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
        -->
    </div>
    </div>
    </div>



    <!-- SCRIPTS -->
    <script>
        $('.carousel').carousel({interval:5000});

        $('#btnCriar').click(function(){
        var checkConfirmPass = false;
        var checkMaxPass = false;





        // -- SENHA -- CONFIRMAR
        if($('#inputPassword').val() != $('#inputPassword2').val()){
            $('#inputPassword').css("border","1px solid red");
            $('#inputPassword2').css("border","1px solid red");
            checkConfirmPass = false;
        }else{
            $('#inputPassword').css("border","1px solid #ccc");
            $('#inputPassword2').css("border","1px solid #ccc");
            checkConfirmPass  = true;
        }

        // -- SENHA -- MIN CARACTERES

        });


    </script>
</body>

<% include ./footer.ejs %>
