.mybtn{
    border: 1px solid rgb(23, 162, 184);
    color: rgb(23, 162, 184);
    margin-left: 10px;
    padding-left: 15px;
    background-color: rgba(33, 37, 41, 0);
}
.mybtn:hover{
    background-color: rgb(23, 162, 184);
    color: white;
    border: 1px solid rgba(23, 162, 184);
}

h5.tJogos{
    text-align: center;
    padding :10px;
}

.modal-body{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.modal-body button{
    margin-top: 10px;
}

.side1, .side2{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.side1 img, .side2 img{
    border: 1px solid black;
    box-shadow: 1px 1px 2px 1px black;
}

.mbody{
    display: flex;
    flex-direction: column;

}

.mbody .side2{
    padding: 0px 100px;
    text-align: center;
}

.mbody .side2 button{
    margin-top: 20px;
}

.card{
    padding: 50px;
}

.conteudo{
    margin-top: 50px;
}

.conteudo #sobre, #contato2{
    padding: 50px;
}


.formCadastro form{
    margin: 0 auto;
    width: 400px;
}
form input{
    margin-top: 5px;
}
.formCadastro h5{
    text-align: justify;
}
.formCadastro {
    text-align: center;
}
.formCadastro button{
    margin-top: 25px;
}
.fa {
  padding: 15px;
  font-size: 30px;
  box-shadow: 0px 2px 3px 2px #aaa;
  width: 48px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 100%;
}

.fa-facebook:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;

  border:1px solid rgb(59, 89, 152);

}

.fa-google {
  background: #dd4b39;
  color: white;

}

.fa-google:hover{
    color: rgb(221, 75, 57);
    background-color: rgb(221, 75, 57,.7);;

}


/* NAV */

#btnIn, #btnOut{
    border: 1px solid rgb(23, 162, 184);
    color: rgb(23, 162, 184);
    margin-left: 10px;
    padding-left: 15px;
}
#btnIn:hover{
    background-color: rgb(23, 162, 184);
    color: white;
}

#btnOut:hover{
    background-color: rgb(23, 162, 184);
    color: white;
}

#btnIn:active{
    box-shadow: 0px 0px 2px 1px white;
    color: white;
    background-color: rgb(23, 162, 184);

}
#btnOut:active{
    box-shadow: 0px 0px 2px 1px white;
    color: white;
    background-color: rgb(23, 162, 184);

}
