.mybtn{
    border: 1px solid rgb(23, 162, 184);
    color: rgb(23, 162, 184);
    margin-left: 10px;
    padding-left: 15px;
    background-color: rgba(33, 37, 41, 0);
}
.mybtn:hover{
    background-color: rgb(23, 162, 184);
    color: white;
}

h5.tJogos{
    text-align: center;
    padding :10px;
}
