<% include ./navLogado.ejs %>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="perfil">
                <table class="table table-dark">
                      <tbody>
                        <tr>
                          <th scope="row"></th>
                          <td> <a class="aImg" href="#"><img class="imgTd" src="<%= photo %>" width="100" height="100"></a>

                          </td>
                        </tr>
                        <tr>
                          <th scope="row"></th>
                          <td class="tdBg"><%= nome %></td>
                        </tr>
                        <tr>
                          <th scope="row"></th>
                          <td  class="tdBg" ><%= usuario%></td>
                        </tr>
                        <tr>
                          <th scope="row"></th>
                          <td  class="tdBg" ><%= email %></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>


        <div class="col-6">
            <div class="montar-time">
                <table class="table table-dark">
                      <tbody>
                        <tr style="display: block; margin: 0 auto;">
                          <th scope="row"></th>
                          <td> <a class="aImg2" href="#"><img  class="imgTd" src="" width="750" height="100"></a>
                          </td>
                        </tr>
                        <tr>
                            <form method="POST">
                          <th scope="row">
                              <div class="selectTime">
                              <select id="privilegio" name="privilegio" class="form-control">
                                    <option >Time 1</option>
                                </select> &nbsp;&nbsp;&nbsp;x
                                <select id="privilegio" name="privilegio" class="form-control">
                                      <option >Time 2</option>
                                  </select>
                              </div>
                          </th>
                          <td class="tdBg"></td>
                        </tr>
                        <tr>
                          <th scope="row"></th>
                          <td  class="tdBg" ></td>
                        </tr>
                        <tr>
                          <th scope="row"></th>
                          <td  class="tdBg" ></td>
                        </tr>
                    </form>
                      </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>

        <script>

        </script>
</div>
<% include ../default/footer.ejs %>
